<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
			      xmlns:ui="http://java.sun.com/jsf/facelets"
			      xmlns:f="http://java.sun.com/jsf/core"
			      xmlns:h="http://java.sun.com/jsf/html"
			      xmlns:p="http://primefaces.org/ui"
 				 template="/_template.xhtml">
	 <ui:define name="conteudo">
	 	<h:form id="form">
		 	<p:dataTable value="#{adminBean.clientes}" var="cliente" >
			 	<f:facet name="header">
			 		<p:commandButton value="Atualizar" action="#{adminBean.buscarClientes()}" update=":form"/>
			 	</f:facet>
		 		<p:column headerText="Nome">
		 			<h:outputText value="#{cliente.nome}"/>
		 		</p:column>
		 		<p:column headerText="Email">
		 			<h:outputText value="#{cliente.email}"/>
		 		</p:column>
		 		<p:column headerText="Cidade">
		 			<h:outputText value="#{cliente.endereco.cidade}" rendered="#{cliente.endereco!=null}"/>
		 		</p:column>
		 		<p:column headerText="Estado">
		 			<h:outputText value="#{cliente.endereco.estado}" rendered="#{cliente.endereco!=null}"/>
		 		</p:column>
		 		<p:column>
		 			<p:commandLink oncomplete="PF('clienteEdit').show()" update=":form:clienteEditPanel">
		 				<h:outputText styleClass="ui-icon ui-icon-search" />
		 				<f:setPropertyActionListener value="#{cliente}" target="#{adminBean.clienteEdit}" />
		 			</p:commandLink>
		 		</p:column>
		 	</p:dataTable>
		 	<p:dialog widgetVar="clienteEdit">
		 		<p:panel style="border:none" id="clienteEditPanel">
	     				<h:panelGrid columns="2" style="float: left">
							<p:outputLabel for="nome" value="Nome: "/>
							<p:inputText id="nome" value="#{adminBean.clienteEdit.nome}"/>
							<p:outputLabel for="email" value="Email: "/>
							<p:inputText id="email" value="#{adminBean.clienteEdit.email}"/>
							<p:outputLabel for="senha" value="Senha: "/>
							<p:password id="senha" value="#{adminBean.clienteEdit.senha}"/>
							<p:outputLabel for="telefone" value="Telefones: "/>
							<p:inputMask value="#{adminBean.telefone.numero}" mask="(99)9999-9999" id="telefone"/>
							<h:dataTable value="#{adminBean.clienteEdit.telefones}" var="tel" id="telefones">
								<h:column>
									<p:inplace editor="true">
										<p:inputMask mask="(99)9999-9999" value="#{tel.numero}"/>
									</p:inplace>
								</h:column>
							</h:dataTable>
							<p:commandButton value="Adicionar telefone" action="#{adminBean.addTel()}" process="@this telefone" update="telefones, telefone"/>
						</h:panelGrid>
						<h:panelGrid columns="2" style="float: right">
							<p:outputLabel for="cep" value="CEP: "/>
							<p:inputMask mask="9999999-999" value="#{adminBean.clienteEdit.endereco.cep}" id="cep"/>
							<p:outputLabel for="endereco" value="Endereço: "/>
							<p:inputText value="#{adminBean.clienteEdit.endereco.endereco}" id="endereco"/>
							<p:outputLabel for="numero" value="Número: "/>
							<p:inputText value="#{adminBean.clienteEdit.endereco.numero}" id="numero">
								<f:converter converterId="javax.faces.Integer"/>
							</p:inputText>
							<p:outputLabel for="estado" value="Estado: "/>
							<p:inputText value="#{adminBean.clienteEdit.endereco.estado}" id="estado"/>
							<p:outputLabel for="cidade" value="Cidade: "/>
							<p:inputText value="#{adminBean.clienteEdit.endereco.cidade}" id="cidade"/>
						</h:panelGrid>
					</p:panel>
					<p:commandButton action="#{adminBean.editarCliente()}" value="Editar" update="@all"/>
		 	</p:dialog>
	 	</h:form>	
	 </ui:define>
</ui:composition>
