<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      template="/_template.xhtml">
	<ui:define name="conteudo">
		<h:form>
			<p:fieldset legend="Cadastro de cliente">
				
			</p:fieldset>
			<p:commandButton value="Cadastrar" action="#{clienteBean.cadastrar()}" update="@form"/>
			<h:dataTable value="#{clienteBean.clientes}" var="cliente">
				<h:column>
					<h:outputText value="#{cliente.nome}"/>
				</h:column>
			</h:dataTable>
		</h:form>
	</ui:define>
	
</ui:composition>
