<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition template="/_template.xhtml" 
	xmlns="http://www.w3.org/1999/xhtml"
     xmlns:ui="http://java.sun.com/jsf/facelets"
     xmlns:f="http://java.sun.com/jsf/core"
     xmlns:h="http://java.sun.com/jsf/html"
     xmlns:p="http://primefaces.org/ui">
     
     <ui:define name="conteudo">
     	<h:form>
	     	<p:dataGrid var="produto" value="#{produtoBean.produtos}" columns="3" paginator="true" id="produtos" >
		     	<p:panel header="#{produto.codigo}" style="text-align:center;">
		     		<h:panelGrid columns="1" style="width:100%">
		     			<p:graphicImage url="../images/produtos/#{produto.imagem}" width="200"/>
		     			<h:outputText value="#{produto.nome}"/>
		     			<h:outputText value="#{produto.descricao}"/>
		     			<p:commandLink update=":carForm" oncomplete="PF('selectProtudo').show()">
		     				<h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
		     				<f:setPropertyActionListener value="#{produto}" target="#{carrinhoBean.item.produto}"/>
		     			</p:commandLink>
		     		</h:panelGrid>
		     	</p:panel>
	     	</p:dataGrid>
     	</h:form>
     	<p:dialog widgetVar="selectProtudo">
     		<h:form id="carForm">
     		<p:growl id="grow"/>
     			<p:outputPanel style="text-align:center">
     				<p:panelGrid columns="2">
	     				<f:facet name="header">
	     					<p:graphicImage url="../images/produtos/#{carrinhoBean.item.produto.imagem}" width="170"/>
	     				</f:facet>
     					<h:outputText value="Nome: " />
     					<h:outputText value="#{carrinhoBean.item.produto.nome}"/>
     					<h:outputText value="Valor: " />
     					<h:outputText value="#{carrinhoBean.item.produto.valor}">
     						<f:convertNumber currencyCode="BRL"/>
     					</h:outputText>
     					<h:outputText value="Descrição: " />
     					<h:outputText value="#{carrinhoBean.item.produto.descricao}"/>
     					<h:outputText value="Quantidade: " />
     					<h:outputText value="#{carrinhoBean.item.produto.quantidade}"/>
     					<p:commandButton value="Add carrinho" action="#{carrinhoBean.addItem()}" update="@all"/><p:spinner min="0" value="#{carrinhoBean.item.quantidade}"/>
     				</p:panelGrid>
     			</p:outputPanel>
     		</h:form>
     	</p:dialog>
     </ui:define>
</ui:composition>
