<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<style>
			body{
				background: #c4c4c4;
				padding: 0;
				margin: 0;
			}
		</style>
	</h:head>
	<h:body>	
		<h:form enctype="multipart/form-data">
			<p:growl showDetail="true" id="growl" life="2000" />
			<p:dialog width="500" header="Login" visible="true" showEffect="slide"
				resizable="false">
				<p:outputLabel value="ID/USUARIO:" for="login" />
				<br />
				<p:inputText value="#{loginBean.login}" id="login" required="true" />
				<br />
				<p:outputLabel value="Senha:" for="senha" />
				<br />
				<p:password value="#{loginBean.senha}" id="senha" />
				<br />
				<p:commandButton value="Logar" action="#{loginBean.validar}"
					id="comando" update="growl" />
			</p:dialog>
		</h:form>
	</h:body>
</html>