<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

	<h:head/>
	<h:body>
		<p:panel style="width: 80%;margin: auto;">
			<h:form>
				<p:menubar>
					<p:menuitem value="Produtos" action="index"/>
					<p:menuitem value="Carrinho" oncomplete="PF('carrinho').show()" update=":f1:carList"/>
					<p:menuitem value="Cadastro Cliente" oncomplete="PF('newCliente').show()"/>
					<p:menuitem value="Cadastro Admin" oncomplete="PF('newAdmin').show()" />
					<p:menuitem value="Novo Produto" oncomplete="PF('newProdutoDia').show()" update=":f2:newProdutoPanel" disabled="#{carrinhoBean.logadoAdmin()==null}"/>
					<p:menuitem value="Sair" action="#{carrinhoBean.logout()}" disabled="#{carrinhoBean.logadoAdmin()==null and carrinhoBean.logado()==null}"/>
				</p:menubar>
			</h:form>
			<p:dialog widgetVar="carrinho">
				<h:form id="f1">
					<p:dataTable value="#{carrinhoBean.itens}" var="item" id="carList" paginator="false">
						<f:facet name="header">
							Carrinho de Compras
						</f:facet>
						<p:column>
							<p:graphicImage url="../images/produtos/#{item.produto.imagem}" width="100"/>
						</p:column>
						<p:column>
							<h:outputText value="Nome: "/>
						</p:column>
						<p:column>
							<h:outputText value="#{item.produto.nome}"/>
						</p:column>
						<p:column>
							<h:outputText value="Quantidade: "/>
						</p:column>
						<p:column>
							<p:inplace editor="true">
								<p:spinner value="#{item.quantidade}" min="0" max="100" />
							</p:inplace>
						</p:column>
						<p:column>
							<p:commandLink action="#{carrinhoBean.removeItem(item)}" update="carList">
								<h:outputText styleClass="ui-icon ui-icon-cancel" style="margin:0 auto;" />
							</p:commandLink>
						</p:column>
					</p:dataTable>
					<p:commandButton value="Finalizar compra" action="#{carrinhoBean.finalizarVenda()}" disabled="#{carrinhoBean.logado()==null}" update="@all"/>
				</h:form>
			</p:dialog>
			<p:dialog widgetVar="newProdutoDia">
				<h:form id="f2" enctype="multipart/form-data">
		     		<p:growl id="messages" autoUpdate="true"/>
			     	<h:panelGrid columns="2" id="newProdutoPanel">
			     		<h:outputLabel for="nomep" value="Nome: "/>
			     		<p:inputText id="nomep" value="#{produtoBean.novoProduto.nome}" required="true" requiredMessage="Nome do produto é obrigatório!"/>
			     		<h:outputLabel for="valor" value="Valor: "/>
			     		<p:inputText id="valor" value="#{produtoBean.novoProduto.valor}" required="true" requiredMessage="Preço do produto é obrigatório!">
			     			<f:convertNumber locale="pt_BR"/>
			     		</p:inputText>
			     		<h:outputLabel for="descricao" value="Descrição: "/>
			     		<p:inputTextarea id="descricao" value="#{produtoBean.novoProduto.descricao}" />
			     		<h:outputLabel for="quantidade" value="Quantidade: "/>
			     		<p:inputTextarea id="quantidade" value="#{produtoBean.novoProduto.quantidade}">
			     			<f:converter converterId="javax.faces.Integer"/>
			     		</p:inputTextarea>
			     		<p:fileUpload fileUploadListener="#{produtoBean.upload}" label="Procurar" /><br/>
			     		<p:commandButton value="Enviar" action="#{produtoBean.criarProduto}" update="@all"/>
			     	</h:panelGrid>
		     	</h:form>
    		</p:dialog>
			
			<p:dialog widgetVar="newCliente">
				<h:form>
					<p:panel style="border:none">
	     				<h:panelGrid columns="2" style="float: left">
							<p:outputLabel for="nome" value="Nome: "/>
							<p:inputText id="nome" value="#{clienteBean.novoCliente.nome}" required="true"/>
							<p:outputLabel for="email" value="Email: "/>
							<p:inputText id="email" value="#{clienteBean.novoCliente.email}" required="true"/>
							<p:outputLabel for="senha" value="Senha: "/>
							<p:password id="senha" value="#{clienteBean.novoCliente.senha}" required="true"/>
							<p:outputLabel for="telefone" value="Telefones: "/>
							<p:inputMask value="#{clienteBean.telefone.numero}" mask="(99)9999-9999" id="telefone"/>
							<h:dataTable value="#{clienteBean.novoCliente.telefones}" var="tel" id="telefones">
								<h:column>
									<p:inplace editor="true">
										<p:inputMask mask="(99)9999-9999" value="#{tel.numero}"/>
									</p:inplace>
								</h:column>
							</h:dataTable>
							<p:commandButton value="Adicionar telefone" action="#{clienteBean.addTel()}" process="@this telefone" update="telefones, telefone"/>
						</h:panelGrid>
						<h:panelGrid columns="2" style="float: right">
							<p:outputLabel for="cep" value="CEP: "/>
							<p:inputMask mask="9999999-999" value="#{clienteBean.novoCliente.endereco.cep}" id="cep"/>
							<p:outputLabel for="endereco" value="Endereço: "/>
							<p:inputText value="#{clienteBean.novoCliente.endereco.endereco}" id="endereco"/>
							<p:outputLabel for="numero" value="Número: "/>
							<p:inputText value="#{clienteBean.novoCliente.endereco.numero}" id="numero">
								<f:converter converterId="javax.faces.Integer"/>
							</p:inputText>
							<p:outputLabel for="estado" value="Estado: "/>
							<p:inputText value="#{clienteBean.novoCliente.endereco.estado}" id="estado"/>
							<p:outputLabel for="cidade" value="Cidade: "/>
							<p:inputText value="#{clienteBean.novoCliente.endereco.cidade}" id="cidade"/>
						</h:panelGrid>
					</p:panel>
					<p:commandButton value="Cadastrar" action="#{clienteBean.cadastrar()}" update="@all"/>
				</h:form>
     		</p:dialog>
			<p:dialog widgetVar="newAdmin">
     				<h:form>
	     				<h:panelGrid columns="2" style="float: left">
							<p:outputLabel for="nomea" value="Nome: "/>
							<p:inputText id="nomea" value="#{adminBean.novoAdmin.nome}" required="true"/>
							<p:outputLabel for="emaila" value="Email: "/>
							<p:inputText id="emaila" value="#{adminBean.novoAdmin.email}" required="true"/>
							<p:outputLabel for="senhaa" value="Senha: "/>
							<p:password id="senhaa" value="#{adminBean.novoAdmin.senha}" required="true"/>
							<p:commandButton value="Cadastrar" action="#{adminBean.cadastrar()}" update="@all"/>
						</h:panelGrid>
					</h:form>
     			</p:dialog>
			<ui:insert name="conteudo">
				
				
			</ui:insert>
		</p:panel>
	</h:body>
</html>